@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e7e7e7;
  font-family:  "Poppins", sans-serif;
}

.doc{
  display: flex;
  justify-content: space-between;
}

.container {
  margin-top: 25px;
  /* background-color: white; */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
}
.container .form {
  margin-top: 60px;
  font-size: 14px;
}

.form .input-box {
  width: 100%;
  margin-top: 10px;
}

.input-box label {
  font-size: 12px;
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 30px;
  width: 80%;
  outline: none;
  font-size: 12px;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
    padding: 0 15px;
  }

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 15px; /* Adjust gap as needed */
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 22%; /* Adjust width to fit all fields in one row */
}